<div class="table-responsive">
    <a onclick="deleteItemTestimonial()" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger pull-right"><i class="fa fa-trash-o"></i></a>
    <a href="{{ add }}" target="_blank" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i></a>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>

            <td class="text-left">{% if sort == 'id.title' %}
                    <a href="{{ sort_title }}" class="{{ order|lower }}">{{ column_title }}</a>
                {% else %}
                    <a href="{{ sort_title }}">{{ column_title }}</a>
                {% endif %}</td>
            <td class="text-right">{% if sort == 'i.sort_order' %}
                    <a href="{{ sort_sort_order }}" class="{{ order|lower }}">{{ column_sort_order }}</a>
                {% else %}
                    <a href="{{ sort_sort_order }}">{{ column_sort_order }}</a>
                {% endif %}</td>
            <td class="text-right">{{ column_action }}</td>
        </tr>
        </thead>
        <tbody>
        {% if testimonials %}
            {% for testimonial in testimonials %}
                <tr>
                    <td class="text-center">{% if testimonial.testimonial_id in selected %}
                            <input type="checkbox" class="select_input_testimonial" name="selected[]" value="{{ testimonial.testimonial_id }}" checked="checked" />
                        {% else %}
                            <input type="checkbox" class="select_input_testimonial" name="selected[]" value="{{ testimonial.testimonial_id }}" />
                        {% endif %}</td>
                    <td class="text-left">{{ testimonial.title }}</td>
                    <td class="text-right">{{ testimonial.sort_order }}</td>
                    <td class="text-right">
                    <a href="{{ testimonial.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-success"><i class="fa fa-pencil"></i></a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="text-center" colspan="5">{{ text_no_results }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<script type="text/javascript">
    var selected = []
    function deleteItemTestimonial() {
        selected = []
        $('.select_input_testimonial:checked').each((index , item) => selected.push(item.value))
        if (selected.length > 0 && confirm("{{ text_delete_testimonials }}") == true) {
            $.ajax({
                url: 'index.php?route=extension/module/testimonials/delete',
                type: 'get',
                dataType: 'json',
                data:'user_token={{ user_token }}&testimonials_id='+ selected,
                beforeSend: function() {},
                complete: function() {
                    alert("{{ text_success_delete_testimonials }}");
                    location.reload();
                },
                success: function() {},
                error: function() {}
            });

        }
    }
</script>